{% extends "base.html" %}

{% block main %}

<div id="linksbox">

    <div id="title">{{path}}</div>

    <div id="filelist">
        <table>
        <tr>
            <td><strong>File Name</strong></td>
            <td><strong>Last Contribution</strong></td>
        </tr>

        {% for item in fileList%}
                <tr>
                    <td><a href="/results/{{item.path}}">{{ item.path}}</a></td>
                    <td>{{item.modifier.display_name}}</td>
                </tr>

        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}